@mixin arimo-font($type, $weight) {
    $url: "./fonts/Arimo/Arimo-#{$type}";
    @font-face {
        font-family: 'Arimo';
        src: url("#{$url}.woff") format("woff"),
            url("#{$url}.woff2") format("woff2"),
            url("#{$url}.ttf") format("truetype");
        font-weight: $weight;
    }
}

@mixin montserrat-font($type, $weight) {
    $url: "./fonts/Montserrat/Montserrat-#{$type}";
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat Thin'), local('Montserrat-Thin'),
            url('#{$url}.eot?#iefix') format('embedded-opentype'),
            url('#{$url}.woff') format('woff'),
            url('#{$url}.ttf') format('truetype');
        font-weight: $weight;
    }
}