.header {
    .top-bar {
        display: flex;
        align-items: center;
        height: 60px;
        background-color: $gray-200;

        .col {
            height: 60px;

            .wrap {
                z-index: 1;
            }
        }

        .col-left {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 60px;

            &::after, &::before {
                content: '';
                position: absolute;
                display: block;
                width: 10%;
                height: 100%;
                top: 0;
                right: -15px;
                transform-origin: bottom left;
                -ms-transform: skew(-20deg, 0deg);
                -webkit-transform: skew(-20deg, 0deg);
                transform: skew(-20deg, 0deg);
            }

            &::before {
                background-color: $gray-200;
            }

            &::after {
                width: 10px;
                background-color: $custom-green;
            }
        }

        .col-middle {
            background-color: $white;
        }

        .col-right {
            position: relative;
            display: flex;
            align-items: center;
            background-color: $gray-900;

            &::after, &::before {
                content: '';
                position: absolute;
                display: block;
                width: 10%;
                height: 100%;
                top: 0;
                left: -15px;
                transform-origin: bottom right;
                -ms-transform: skew(20deg, 0deg);
                -webkit-transform: skew(20deg, 0deg);
                transform: skew(20deg, 0deg);
            }

            &::before {
                background-color: $gray-900;
            }

            &::after {
                width: 10px;
                background-color: $custom-green;
            }

            .btn {
                font-size: 16px;
                color: $white;

                &.btn-link {
                    flex: none;
                }

                &:hover {
                    color: $custom-green;
                }
            }

            .dropdown-toggle {
                font-size: 14px;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    .bottom-bar {
        position: relative;

        .icon-col {
            display: flex;
            align-items: center;

            .icon {
                height: 40px;
                font-size: 36px;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 20px;

                span {
                    font-weight: 500;
                    font-size: 20px;
                    color: $custom-green;
                }

                small {
                    font-family: 'Arimo', serif;
                    font-size: 16px;
                    color: $gray-600;
                }
            }
        }

        .navbar {
            height: 70px;
            background-color: $custom-green !important;

            .nav-item {
                .nav-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding: 0 35px;
                    font-size: 15px;
                    letter-spacing: 0.36px;
                    color: $white;

                    &.active {
                        font-weight: bold;
                        color: $black;
                    }

                    &:hover {
                        color: $black;
                    }
                }

                .search-link {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border: 1px dashed $black;
                    border-radius: 50%;
                }

                .basket-link {
                    font-size: 26px;
                }

                

                &:first-of-type {
                    .nav-link {
                        padding-left: 0;
                    }
                }
            }

            .question-link {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                width: 280px;
                height: 70px;
                color: $white;
                background-color: $black;
                text-transform: uppercase;
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 25%;
            height: 70px;
            background-color: $custom-green;
        }
    }
}