.news {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        position: relative;
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        text-align: left;

        .divider {
            margin-left: 0;
        }

        .link {
            color: $white;
            background-color: $custom-green;
            border: none;
        }
    }

    .swiper-wrapper {
        padding-bottom: 60px;
    }

    .card {
        box-shadow: 0 0 15px rgba($color: $black, $alpha: 0.11);

        .img-block {
            height: 250px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: $gray-200;
        }

        .card-body {
            position: relative;
            padding-top: 45px;
            padding-bottom: 25px;
        }

        .badge {
            position: absolute;
            top: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 30px;
            font-size: 16px;
            color: $white;
            background-color: $gray-900;
            border-radius: 5px;
        }

        .card-title {
            font-weight: bold;
        }

        .card-text {
            font-size: 16px;
        }

        .card-footer {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            background-color: transparent;
            border: none;

            .col {
                display: flex;
                align-items: center;

                .user-logo {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    background-color: $gray-300;
                    border-radius: 50%;
                }

                .user-link {
                    color: $custom-green;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                margin: 0 $card-cap-padding-x;
                background-color: $gray-400;
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        width: 100px;
        height: 100px;
        color: $gray-600;
        border: 1px solid $gray-600;

        &:hover {
            color: $custom-green;
            border: 1px solid $custom-green;
            background-color: transparent;
        }
    }

    .swiper-button-prev {
        left: -150px;
    }

    .swiper-button-next {
        right: -150px;
    }
}