.partners {
    display: flex;
    align-items: center;
    height: 300px;
    background-color: $gray-100;

    .container {
        position: relative;
    }

    .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev, .swiper-button-next {
        width: 50px;
        color: $gray-600;
        border: 1px solid $gray-600;

        &:hover {
            color: $custom-green;
            border: 1px solid $custom-green;
            background-color: transparent;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}